USE [master]
GO
/****** Object:  Database [Lab01_SimpleBlog]    Script Date: 1/31/2020 1:38:30 AM ******/
CREATE DATABASE [Lab01_SimpleBlog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lab01_SimpleBlog_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Lab01_SimpleBlog.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Lab01_SimpleBlog_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Lab01_SimpleBlog.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lab01_SimpleBlog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lab01_SimpleBlog]
GO
/****** Object:  Table [dbo].[tblArticles]    Script Date: 1/31/2020 1:38:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblArticles](
	[ArticleID] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[ShortDescription] [nvarchar](max) NOT NULL,
	[Img] [nvarchar](max) NULL,
	[PostContent] [nvarchar](max) NOT NULL,
	[Author] [nvarchar](max) NOT NULL,
	[PostingDate] [datetime] NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[StatusID] [int] NOT NULL,
 CONSTRAINT [PK_tblArticles] PRIMARY KEY CLUSTERED 
(
	[ArticleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblComments]    Script Date: 1/31/2020 1:38:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblComments](
	[CommentID] [nvarchar](100) NOT NULL,
	[CommentContent] [nvarchar](max) NOT NULL,
	[EmailUserComment] [nvarchar](100) NOT NULL,
	[Date] [datetime] NOT NULL,
	[ArticleID] [nvarchar](50) NOT NULL,
	[Author] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblComments] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRoles]    Script Date: 1/31/2020 1:38:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRoles](
	[RoleID] [nvarchar](50) NOT NULL,
	[RoleDetail] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_tblRoles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStatusArticle]    Script Date: 1/31/2020 1:38:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStatusArticle](
	[StatusID] [int] NOT NULL,
	[StatusDetail] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_tblStatusArticle] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStatusUser]    Script Date: 1/31/2020 1:38:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStatusUser](
	[StatusID] [nvarchar](50) NOT NULL,
	[StatusDetail] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_tblStatus] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 1/31/2020 1:38:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsers](
	[Email] [nvarchar](100) NOT NULL,
	[Avatar] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[RoleID] [nvarchar](50) NOT NULL,
	[StatusID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblUsers] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblArticles]  WITH CHECK ADD  CONSTRAINT [FK_tblArticles_tblStatusArticle] FOREIGN KEY([StatusID])
REFERENCES [dbo].[tblStatusArticle] ([StatusID])
GO
ALTER TABLE [dbo].[tblArticles] CHECK CONSTRAINT [FK_tblArticles_tblStatusArticle]
GO
ALTER TABLE [dbo].[tblArticles]  WITH CHECK ADD  CONSTRAINT [FK_tblArticles_tblUsers] FOREIGN KEY([Email])
REFERENCES [dbo].[tblUsers] ([Email])
GO
ALTER TABLE [dbo].[tblArticles] CHECK CONSTRAINT [FK_tblArticles_tblUsers]
GO
ALTER TABLE [dbo].[tblComments]  WITH CHECK ADD  CONSTRAINT [FK_tblComments_tblArticles] FOREIGN KEY([ArticleID])
REFERENCES [dbo].[tblArticles] ([ArticleID])
GO
ALTER TABLE [dbo].[tblComments] CHECK CONSTRAINT [FK_tblComments_tblArticles]
GO
ALTER TABLE [dbo].[tblComments]  WITH CHECK ADD  CONSTRAINT [FK_tblComments_tblUsers] FOREIGN KEY([EmailUserComment])
REFERENCES [dbo].[tblUsers] ([Email])
GO
ALTER TABLE [dbo].[tblComments] CHECK CONSTRAINT [FK_tblComments_tblUsers]
GO
ALTER TABLE [dbo].[tblUsers]  WITH CHECK ADD  CONSTRAINT [FK_tblUsers_tblRoles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[tblRoles] ([RoleID])
GO
ALTER TABLE [dbo].[tblUsers] CHECK CONSTRAINT [FK_tblUsers_tblRoles]
GO
ALTER TABLE [dbo].[tblUsers]  WITH CHECK ADD  CONSTRAINT [FK_tblUsers_tblStatus] FOREIGN KEY([StatusID])
REFERENCES [dbo].[tblStatusUser] ([StatusID])
GO
ALTER TABLE [dbo].[tblUsers] CHECK CONSTRAINT [FK_tblUsers_tblStatus]
GO
USE [master]
GO
