<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>sample.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>sample.controllers.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendCodeConfirmEmailController</servlet-name>
        <servlet-class>sample.controllers.SendCodeConfirmEmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyMailController</servlet-name>
        <servlet-class>sample.controllers.VerifyMailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>sample.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>sample.controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewArticleController</servlet-name>
        <servlet-class>sample.controllers.ViewArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostArticleController</servlet-name>
        <servlet-class>sample.controllers.PostArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByAdminController</servlet-name>
        <servlet-class>sample.controllers.SearchByAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByUserController</servlet-name>
        <servlet-class>sample.controllers.SearchByUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveArticleController</servlet-name>
        <servlet-class>sample.controllers.ActiveArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostCommentController</servlet-name>
        <servlet-class>sample.controllers.PostCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailUserController</servlet-name>
        <servlet-class>sample.controllers.ViewDetailUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>sample.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>sample.controllers.UpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteArticleController</servlet-name>
        <servlet-class>sample.controllers.DeleteArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginByGoogleController</servlet-name>
        <servlet-class>sample.controllers.LoginByGoogleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupByGoogleController</servlet-name>
        <servlet-class>sample.controllers.SignupByGoogleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/SignupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendCodeConfirmEmailController</servlet-name>
        <url-pattern>/SendCodeConfirmEmailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyMailController</servlet-name>
        <url-pattern>/VerifyMailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewArticleController</servlet-name>
        <url-pattern>/ViewArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostArticleController</servlet-name>
        <url-pattern>/PostArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByAdminController</servlet-name>
        <url-pattern>/SearchByAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByUserController</servlet-name>
        <url-pattern>/SearchByUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveArticleController</servlet-name>
        <url-pattern>/ActiveArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostCommentController</servlet-name>
        <url-pattern>/PostCommentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailUserController</servlet-name>
        <url-pattern>/ViewDetailUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/UpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteArticleController</servlet-name>
        <url-pattern>/DeleteArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginByGoogleController</servlet-name>
        <url-pattern>/LoginByGoogleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupByGoogleController</servlet-name>
        <url-pattern>/SignupByGoogleController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>DBCon</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
